
body{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.testform-main{
    width: 40%;
    margin: auto
}

.testform-header{
    color: #f8f8f8;
    background-color: #005146;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
}

.project-description{
    text-align: center;
}
.testform-footer{
    position: absolute;
    color: #f8f8f8;
    background-color: #005146;
    display: f8f8f8block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 4px 0;
}
  
.testform-form form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px auto;
    padding: 20px;
    border: #005146 solid 1px;
    border-radius: 5px;
}

.testform-form input, textarea, button {
    padding: 10px;
    border-radius: 5px;
    border: #005146 solid 1px;
}

.testform-form button{
    background-color: #005146;
    color: #f8f8f8;
    border: none;
    cursor: pointer;
}

.testform-form input:focus{
    outline: none;
    border: #005146 solid 2px;
}

.testform-form .form-group {
    margin-bottom: 15px;
}

.testform-notifications {
    margin: auto;
    background-color: #005146;
    color: #f8f8f8;
    text-align: center;
    border-radius: 5px;
}

.testform-notifications h3, .testform-notifications p {
    margin: 0;
    padding-bottom: 10px;
}

.simpleform-errors {
    margin: 15px auto;
    text-align: right;
    font-size: 10px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 2px;
}

.error-message p {
    display: block;
    width: fit-content;
    padding: 4px;
    background: red;
    color: #f8f8f8;
    border-radius: 5px;
    font-size: 12px;
}